/* Reset básico */
body, h1, h2, h3, p, ul, li, a, img, button {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    color: white;
}

body {
    background: url('/assets/img/fonte-de-galaxia-de-estilo-fantasia.jpg') repeat;
    background-size: cover;
    animation: moveBackground 500s linear infinite;
    background-color: #1c1c1c;
    line-height: 1.6;
}

/* Estilos Gerais */
header {
    text-align: center;
    font-size: 24px;
    padding: 15px;
    color: #fff;
    max-width: 800px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s;
    width: 100%;
}

.nav-list {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
    transition: color 0.3s ease;
}

.nav-list a:hover {
    color: #240361;
}

.nav-list a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #240361;
    transition: width 0.3s ease;
}

.nav-list a:hover::after {
    width: 100%;
    left: 0;
    right: auto;
}

.foto-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-bottom: 4px solid #969696;
    margin-bottom: 15px;
}

.hover-effect {
    border-radius: 15px;
    padding: 10px;
    margin: 20px 0;
    box-shadow: none;
}

.hover-effect:hover {
    background-color: transparent;
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

button {
    background-color: #240361;
    color: #fff;
    border: none;
    padding: 0px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 20px;
    font-size: 16px;
}

button:hover {
    background-color: #240361;
    transform: translateY(-3px);
}

footer {
    text-align: center;
    margin-top: 20px;
}

h1, h2, h3 {
    color: #ffffff;
}

a {
    color: #240361;
    text-decoration: underline;
}

a:hover {
    color: #240361;
    text-decoration: none;
}

#content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    background: rgba(0, 0, 0, 0.0);
}

#content:hover {
    background-color: transparent;
}

#saudacao-btn {
    margin-top: 10px;

}

#mensagem {
    margin-top: 10px;
    font-size: 18px;
    color: #ffffff;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .nav-list li {
        margin: 10px 0;
    }

    .foto-perfil {
        width: 100px;
        height: 100px;
        border: 2px solid #240361;
    }

    h1 {
        font-size: 26px;
    }

    p {
        font-size: 14px;
    }

    #content {
        padding: 10px;
    }

    .hover-effect {
        padding: 15px;
        margin: 15px 0;
    }

    ul {
        padding-left: 5px 0;
    }

    button {
        width: 100%;
        margin: 5px 0;
    }
}

.project {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: transparent;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.project img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 20px;
}

.project h3 {
    margin: 0;
}

.download-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #240361;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.download-btn:hover {
    background-color: #240361;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    .project {
        flex-direction: column;
        align-items: flex-start;
    }

    .project img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .download-btn {
        width: 100%;
        text-align: center;
    }
}

@keyframes moveBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 1000px 1000px;
    }
}

.email-link {
    display: none;
}

.copy-button {
    padding: 10px 10px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.copy-button:hover {
    background-color: #240361;
}
